@import url('/css/shared.css');

#cart-list p { display:flex; justify-content: space-between; align-items: center; gap: .5rem; }
#upi-box img { max-width: 230px; border-radius: 12px; border: 1px solid #dce8fb; }
